#chatboxModelShow.modal {overflow: hidden;}

#chatboxModelShow .modal-content {border: 0;}

#chatboxModelShow .modal-header {
  background-color: #fff;
  z-index: 99;
}

@media (max-width: 500px) {
  #chatboxModelShow .modal-dialog {
    top: 5%;
  }
}

#chatboxModelShow .modal-header {
  background-color: #3699ff;
  
}

#chatboxModelShow .modal-title,
#chatboxModelShow .close {color: #fff;}

.chatbox {
  position: relative;
  max-width: 500px;
  width: auto;
  height: auto;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 60px -15px rgba(0,0,0,.2);
  overflow: hidden;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  direction: ltr;
}

.chatbox .form-control {
  box-shadow: none;
  border-radius: 10px;
}

.chatbox .container {
  padding-left: 0;
  padding-right: 0;
}

.chatbox__head {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 10px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  align-items: center;
  flex-grow: 1;
  /* background: #15365a; */ 
  color: #15365a;
  /* border-radius: 0 0 10px 10px; */
}

.chatbox .chatbox__label {
  padding-top: 10px;
  padding-bottom: 7px;
}

.chatbox .chatbox__label .mujib-logo {
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.chatbox .chatbox__label .mujib-logo img {
  margin-top: -3px;
}

.chatbox__head .chatbox__left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}

.chatbox__head .chatbox__right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.chatbox__title {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.chatbox__title:hover {text-decoration: none;}

.chatbox__status {
  color: #fff;
  font-size: .9rem;
  font-weight: 500;
  display: block;
}

.chatbox-badge {
  display: inline-block;
  line-height: 8px;
  min-height: 8px;
  min-width: 8px;
  height: 8px;
  width: 8px;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background: #0abb87;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  font-size: .8rem;
}

.chatbox .dropdown.dropdown-inline {display: inline-block;}

.chatbox .dropdown {position: relative;}

.chatbox .btn.btn-icon {
  height: 2rem;
  width: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  border-color: transparent;
  background: 0 0;
  color: #fff;
  box-shadow: none;
}

.chatbox .btn.btn-icon:hover {
  /* color: #15365a; */
  background: #f0f3ff;
}

.chatbox .btn-clean.closeChatbox:hover rect,
.chatbox .btn-clean.showDropdown:hover path {fill: #15365a;}

.chatbox .btn.btn-upload-close {
  background: #f0f3ff;
  color: #3699ff;
}

.chatbox .btn.btn-upload-close:hover {color: #fff;}

.chatbox .dropdown-menu {
  position: absolute;
  top: 60px;
  left: auto;
  right: 0;
  width: 260px;
  z-index: 95;
  display: block;
  -webkit-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 0;
  margin: 0;
  border-radius: 0;
  min-width: 14rem;
  padding: 1rem 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
  box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  
}

.chatbox .dropdown-menu.dropdown--toggle {
  top: 40px;
  -webkit-visibility: visible;
  visibility: visible;
  opacity: 1;
}

.chatbox .chatbox-nav {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
}

.chatbox .chatbox-nav__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.1rem;
  /* background: #15365a; */
  color: #fff;
  font-weight: 500;
  padding: .55rem 1.75rem;
}

.chatbox .chatbox-nav__separator {
  margin: .7rem 0;
  height: 0;
  display: block;
  border-bottom: 1px solid #ebedf2;
}

.chatbox .chatbox-nav__item {
  display: block;
  padding: 0;
}

.chatbox .chatbox-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .55rem 1.75rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #9d9fa9;
  font-weight: 600;
}

/* .chatbox .chatbox-nav__link path {fill: #9d9fa9;} */

.chatbox .chatbox-nav__link:hover {
  background-color: rgba(10,187,135,.1);
  -webkit-transition: all .3s;
  transition: all .3s;
  /* color: #15365a; */
}

/* .chatbox .chatbox-nav__link:hover path {fill: #15365a;} */

.chatbox .chatbox-nav__link-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  font-size: 1.25rem;
  line-height: 0;
}

.chatbox .chatbox-nav__link .chatbox-nav__link-text {margin-left: 5px;}

/* Chatbox Body */
.chatbox .chatbox__body {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  border-radius: 4px;
}

.chatbox .chatbot-scroll {
  position: relative;
  height: 410px;
  overflow: auto !important;
  padding-top: 10px;
}

@media (max-width: 330px) {
  .chatbox .chatbot-scroll {
    height: auto;
    max-height: 395px;
    min-height: 380px;
  }
}

/* Simple Scroll Custom Style */
.simplebar-scrollbar::before {
  /* background: #15365a; */
  width: 3px;
}

.chatbox .chatbox__messages {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.chatbox .chatbox__loading--content {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: calc(100% - 68px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}

.chatbox .chatbox__loading--content .img {width: 200px;}

#Path_24129,
#Path_24128 {
    opacity: 0;
    animation: eyes 0.5s alternate infinite;
}

@keyframes eyes {
    from {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
}

@media (max-width: 500px) {
  .chatbox .chatbox__messages {
    overflow: auto;
  }
}

.chatbox .chatbox__message {
  padding: 1rem 1rem;
  margin: 0.5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  background: rgba(10,187,135,.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.clear-fix {clear: both;}

.chatbox__message.chatbox__message--appending {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
}

.chatbox__message.chatbox__message--appending1 {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
}

.chatbox .chatbox__message.chatbox__message--bot {
  direction: ltr;
  text-align: left;
  float: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.chatbox .chatbox__message.chatbox__message--user {
  text-align: left;
  float: right;
}

.chatbox__message.chatbox__message--user {
  background-color: rgba(0,0,0,.05);
}

.chatbox__message.chatbox__message--user .chatbox__user {
  text-align: right;
}

.chatbox__message .chatbox__user--media img {
  margin-top: -5px;
  border-radius: 50%;
  margin-left: -5px;
}

.chatbox .chatbox__message .chatbox__datetime {
  color: #74788d;
  font-size: .9rem;
  font-weight: 400;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chatbox .chatbox__typing {display: none;}

.chatbox .chatbox__typing span {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  /* background-color: #15365a; */
  font-size: 5px;
  -webkit-animation: typing 0.5s infinite alternate;
  animation: typing 0.5s infinite alternate;
}

.chatbox .chatbox__typing span.now2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.chatbox .chatbox__typing span.now3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@keyframes typing {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.chatbox .typing-target {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.chatbox__message .chatbox__text {
  display: inline-block;
  padding: 0;
  margin-top: 10px;
  background: 0 0!important;
  color: #6c7293;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chatbox__message.chatbox__message--bot .chatbox__text {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Chatbox Footer */
.chatbox .chatbox__foot {
  position: relative;
  padding: 15px 15px;
  border-top: 1px solid #ebedf2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.chatbox .chatbox__editor input {
  width: 100%;
  height: 40px;
  overflow: auto;
  resize: vertical;
  border: 0!important;
  outline: 0;
  background-color: transparent!important;
  color: #3699ff;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.chatbox .chatbox__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox .chatbox__tools .media--icon {
  color: #3699ff;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.chatbox .chatbox__tools .media--icon:hover {color: #3758ff;}

.chatbox .chatbox__actions .chatbox__reply,
.chatbox .chatbox__upload-image--body .chatbox__reply {
  color: #fff;
  font-weight: 600;
  font-size: .85rem;
  text-transform: uppercase;
  box-shadow: none;
}

.chatbox__actions .chatbox__reply {
  background-color: #fff !important;
  border: 0;
  margin-right: 10px;
}

.chatbox__upload-image--container .btn-icon {
  float: right;
  margin: 5px;
  margin-left: 0;
}

/* Upload Image Container */
.chatbox__upload-image--container {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 85%;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
  box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.chatbox .popup-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 89%;
  border-radius: 0 0 10px 10px;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.chatbox__upload-image--container.open-upload {top: 2.5%;}

.chatbox__upload-image--container.show-uploaded-img {top: -57px;}

.chatbox .popup-container.show {top: 11%;}

.chatbox__upload-image--container .image-uploading-preview {
  max-width: 100%;
  min-height: 130px;
  max-height: 250px;
  margin: 10px auto;
  border-radius: 5px;
  padding-top: 12%;
}

.chatbox__upload-image--body .custom-file-input {cursor: pointer;}

.chatbox__upload-image--body .custom-file-input:focus~.custom-file-label {box-shadow: none;}

.chatbox__upload-image--body .custom-file-label {
  border: 0;
  background-color: #3699ff;
  color: #fff;
  text-align: center;
}

.chatbox__upload-image--body .custom-file-label::after {
  background-color: #15365a;
  color: #fff;
  display: none;
}

.image-uploading-preview img {border-radius: 5px;}

.chatbox .chatbox__image--uploaded {cursor: pointer;}

.chatbox__upload-image--container.image-show {
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.chatbox__upload-image--container.image-show .image-uploading-preview img {max-width: 100%;}

.chatbox__message--bot.rate-message {background-color: #fff;}



