@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Cairo&display=swap);

body {
  overflow-x: hidden !important;
  font-family: 'Cairo', sans-serif;
}

.kt-subheader {z-index: 999;}

/* Main Page Dashboard */
@media (min-width: 992px) {
  .kt-aside--secondary-enabled .kt-wrapper.hideSubmenu {
    margin-left:65px;
  }

}

@media (max-width: 1024px) {
  #kt_users_aside.kt_users_aside_show_menu {right: auto; left: 0; z-index: 1000;}
}

/* Offer Background */
.offer__container.offer__item--active {
  transition: background-color 0.3s;
  background-color: #e7f3ff;
}

/* Recommended Services */
.kt-sticky-toolbar .kt-sticky-toolbar__item {cursor: pointer;}

.kt-sticky-toolbar .kt-badge {
  width: 18px;
  position: absolute;
  right: 30px;
  top: -5px;
}

/*  */
.kt-widget__top .fav-offer {
  transition: 0.1s linear;
  cursor: pointer;
}

.kt-widget__top .fav-offer:hover,
.kt-widget__top .fav-offer.active {
  /* font-size: 20px !important; */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: #fd397a;
}

/* Model Chatbox */
.modal.fade .modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .modal.fade .modal-dialog {
    left: 0;
    top: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
    width: 95%;
  }
}

/* Follow Person Offer 'Show Page' */
.follow-offer-person {
  color: #5867dd;
  cursor: pointer;
  border: 1px solid;
  padding: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.follow-offer-person:hover,
.follow-offer-person.active {
  color: #4ab3f4;
  border-color: #4ab3f4;
}

/* Cursor Pointer */
.cursor {cursor: pointer;}

/* Hide Popup */
.swal2-container.swal2-center {display: none !important;}

/*  */
.offers__filter button.dropdown-toggle {min-width: 100px;}

/* Rate at Service Details Page  */
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/* Cart Page */
#paymentOptions {display: none;}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin-right: 1px;
}

.rating > label {cursor: pointer;}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* i.dislike_post {display:inline-block;-webkit-transform: rotate(180deg);transform: rotate(180deg);} */

/* post reaction */
.post__loading .post__progress {
  width: 0%;
  height: 3px;
  background-color: #fd397a;
}

.post__reactions-container .post__reaction.reaction1.reacted {color: #5867dd !important;}

.post__reactions-container .post__reaction.reacted i.like {
  display: inline-block;
  animation: reaction 0.4s alternate;
}

.post__reaction.btn:disabled {
  opacity: 1;
}

.post__reactions-container .post__reaction.reaction2.reacted {color: #000 !important;}

.post__reactions-container .post__reaction.reacted i.dislike {
  display: inline-block;
  animation: reaction 0.4s alternate;
}

@keyframes reaction {
  0% {transform: scale(1.1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1.2);}
}

.post__text--content .more__content {font-size: 1.1rem;font-weight: 500;}

.post__card .post__comments--container {display: none;}


/* Add Overlay Above New Post to Block */
.kt-portlet__body.new__post--container.blocked {
  /* opacity: 0.5; */
  position: relative;
  z-index: 1;
}

.kt-portlet__body.new__post--container.blocked::after {
  content: 'You are not Authorized to Post!';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(255, 255, 255, .6);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding: 15px;
}

[data-target="#showPostImg"] {cursor: pointer;}

@media screen and (max-width: 480px) {
  .kt-container {padding: 0 !important;}

  .kt-widget__bottom.align-items-center {
    justify-content: center !important;
  }

  .kt-widget__item {margin: 10px 0 !important;}

  .kt-widget__toolbar {padding-top: 10px !important;}
}